{% extends "base/base.html" %}
{% load static %}


{% block content %}
  <section class=" text-center">
    <div class="container">
      {% for item in cart %}
        {% with product=item.product %}
          <div class="row mycart">
            <div class="col-lg-12">
              <div class="col-lg-3 cartImg col-lg-push-9">
                <h3 class="cartTitle">صوره المنتج</h3>
                <img src="{{ product.image.url }}" width="100%">
              </div>
              <div class="col-lg-2 cartImg col-lg-push-4">
                <h3 class="cartTitle">اسم المنتج</h3>
                <h4>{{ product.name }}</h4>
              </div>

              <div class="col-lg-2 cartImg">
                <h3 class="cartTitle">الكميه</h3>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                  {% csrf_token %}
                  {{ item.update_quantity_form.quantity }}
                  {{ item.update_quantity_form.update }}
                  <button type="submit" class="btn btn-success" style="width:60%;">تحديث الكميه</button>
                </form>

              </div>

              <div class="col-lg-2 cartImg col-lg-pull-7">
                <h3 class="cartTitle">سعر الوحده</h3>
                <h4> من {{ product.min_price }} الى {{ product.max_price }}جنيه</h4>
              </div>
              <div class="col-lg-3  col-lg-pull-7 ">
                <h3 class="cartTitle">ازل من العربه </h3>
                <a href="{% url 'cart:cart_remove' product.id %}" class="btn btn-danger"
                   style="width:50%;margin-bottom: 1%;">ازاله من العربه</a>
              </div>
            </div>
          </div>
          <hr class="green" />
        {% endwith %}
      {% endfor %}
    </div>
  </section>
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-4 doneBtn">
        <a href="{% if request.user.is_authenticated %}
                   {% if cart|length > 0 %}
                     {% url 'orders:order_create' %}
                   {% endif %}
                 {% else %}
                   {% url 'accounts:login' %}?next={{ request.path|urlencode }}
                 {% endif %}" class="btn btn-success" style="width:50%;">
          بيع</a>
              <a href="{% url 'products:product_list' %}"
                 class="btn btn-success" style="width:50%">اضف مزيد من المنتجات</a>
      </div>
    </div>
  </div>
{% endblock %}