<!-- Footer -->
<footer class="footer text-right">
  <div class="container">
    <div class="row ">
      <div class="col-lg-3 col-md-3 col-md-push-9">
        <h3>1خريطه الموقع</h3>
        <ul class="list-unstyled">
          <li>الصفحة الرئيسيه</li>
          <li>من نحن</li>
          <li>بيع</li>
          <li>اتصل بنا</li>
          <a href="http://www.facebook.com"> <i class="fa fa-facebook-square ficon"></i></a>
          <a href="http://www.facebook.com"> <i class="fa fa-google ficon"></i></a>
          <a href="http://www.facebook.com"> <i class="fa fa-instagram ficon"></i></a>
          
      </div>
      <div class="col-lg-3 col-md-3 col-md-push-3"><h3>2خريطه الموقع</h3>
        <ul class="list-unstyled">
          <li>الصفحة الرئيسيه</li>
          <li>من نحن</li>
          <li>بيع</li>
          <li>اتصل بنا</li>
          <a href="http://www.facebook.com"> <i class="fa fa-facebook-square ficon"></i></a>
          <a href="http://www.facebook.com"> <i class="fa fa-google ficon"></i></a>
          <a href="http://www.facebook.com"> <i class="fa fa-instagram ficon"></i></a>
          </div>
      <div class="col-lg-3 col-md-3 col-md-pull-3"><h3> 3خريطه الموقع</h3>
        <ul class="list-unstyled">
          <li>الصفحة الرئيسيه</li>
          <li>من نحن</li>
          <li>بيع</li>
          <li>اتصل بنا</li>
          <a href="http://www.facebook.com"> <i class="fa fa-facebook-square ficon"></i></a>
          <a href="http://www.facebook.com"> <i class="fa fa-google ficon"></i></a>
          <a href="http://www.facebook.com"> <i class="fa fa-instagram ficon"></i></a>
          </div>
          <div class="col-lg-3 col-md-3 col-md-pull-9">
            <img class="img-thumbnail" src="logo.jpeg">
              
    
    </div>

  </div>

</footer>