{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width,intial-scale=1"/>
    <title>ElectroBekia</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width,intial-scale=1" />
    <title>ElectroBekia</title>
    <link href="https://fonts.googleapis.com/css?family=Mada&display=swap" rel="stylesheet">
    <!--including Design libs-->
    <link href="https://fonts.googleapis.com/css?family=Mada|Markazi+Text&display=swap" rel="stylesheet">
    {% block style %}
    {% endblock style %}
  </head>
  <body>
    {% include "base/_navbar.html" %}

    {% block content %}
    {% endblock content %}

    {% include "base/_footer.html" %}

    <!--including js libs-->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
  </body>
</html>