{% extends "base/base.html" %}
{% load static %}



{% block content %}
{% load order_filter %}
<div class="container-fluid outer">
    <h2 style="text-align: center;">طلباتى</h2>
    <div class="row text-right inner ">
      {%if exists%} {%for order in orders%}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            {%if order.order_status == 1 %}
            <div class="caption  alert-info">
            {%elif order.order_status == 2 %}
            <div class="caption" style="background: rgb(196, 250, 196)">
            {%elif order.order_status == 3 %}
            <div class="caption" style="background:  rgb(249, 250, 196)">
            {%else %}
          <div class="caption" style="background: rgb(250, 225, 196)">
            {%endif%}
            <table class="table table-hover text-center info">
              <tr>
                <td>{{ order.id|to_ar }}</td>
                <td>رقم الطلب</td>
              </tr>
              <tr>
                {%if order.order_status == 1 %}
                <td >في انتظار الرد بالسعر</td>
                {%elif order.order_status == 2 %}
                <td >تم الرد بالسعر</td>
                {%elif order.order_status == 3 %}
                <td >تم ارسال ردك... في انتظار التأكيد</td>
                {%else%}
                <td >طلب منتهي</td>
                {%endif%}
                <td>حالة الطلب</td>
              </tr>
              <tr>
                <td>{{ order.first_name }} {{ order.last_name }}</td>
                <td> الاسم المصاحب للطلب </td>
              </tr>
              <tr>
                <td>{{ order.created }}</td>
                <td>تاريخ الطلب</td>
              </tr>
              <tr>
                <td>{{ order.city }}</td>
                <td>البلد</td>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{% url 'orders:order_detail' order.id %}">
                    <button class="see btn btn-success">مشاهدة الطلب</button>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      {%endfor%} {%else%}
      <div class="text-center">
        <p class="center-div">لا يوجد طلبات</p>
      </div>
      {%endif%}
    </div>
  </div>
  {% endblock%}

  