.outer {
}
body{
  background: #fcfffc;
}
.inner {
  margin: auto; /* or 0 if you want to maintain its position in the upper-left corner */
}
html {
  height: 100%;
}
.outer {
  height: auto;
  padding-top: 1%;
  min-height: 80%;
  position: relative;
}
.inner {
  position: relative;
  box-sizing: border-box; /* required if you're using padding */
}
.center-div{
    margin : 17% 0;
    font-size : 40px;
    color:rgb(6, 56, 6);
}

.info{
  font-size: 19px;
}
.btn:hover{
  color: black !important;
}
.see{
  width: 80%;
  font-size: 23px;
  color: rgb(0, 54, 21);
}

.middle_t{
width: 250px !important;
}

#orderHeader{
  padding : 1%;
  background: #91e991;
  border-radius: 25px;
}
#order_info{
  font-size:24px;
  font-weight: 700;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(115, 207, 137);
}

.orderItem{
  margin: 2% 0;
  background-color: #c7f5c7;
  border-radius: 25px;
}