{% extends 'admin/change_list.html' %}
{% load static %}


{% block extrastyle %}
    {{ block.super }}

    {% if cl.formset or action_form %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
        <script type="text/javascript" src="{% static 'js/admin/script.js' %}"></script>

    {% endif %}
{% endblock %}
{% block filters %}
    {% if cl.has_filters %}
        <div id="changelist-filter">

            <h3 class="selected"> تصفية بحسب نوع المستخدم</h3>
            <ul>

                <li
                        {% if request.get_full_path == '/admin/accounts/user/?o=3' or request.get_full_path == '/admin/accounts/user/' %}
                            class="selected"

                        {% endif %}
                >
                    <a href="?o=3" title="All"

                    >الجميع</a></li>

                <li
                        {% if request.get_full_path == '/admin/accounts/user/?o=3&user_category__exact=1' %}
                            class="selected"

                        {% endif %}
                >
                    <a href="?o=3&amp;user_category__exact=1" title="Yes">مستخدم منزلي</a></li>

                <li
                        {% if request.get_full_path == '/admin/accounts/user/?o=3&user_category__exact=0' %}
                            class="selected"

                        {% endif %}
                >
                    <a href="?o=3&amp;user_category__exact=0" title="No">مركز صيانة</a></li>

            </ul>

        </div>
    {% endif %}
{% endblock %}
