{% extends "base/base.html" %}
{% load static %}

{% block content %}
  <div class="LoginBody">
    <section class=" text-center">
      <div class="field">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 ">
              <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4">
                <form role="form" method="POST" enctype="multipart/form-data">
                  <div class="col-lg-12 loginPage  wow bounceInUp">
                    <div class="col-lg-12">
                      <div class="logo">
                        <img src="{% static 'images/logo1.png' %}" width="75%"/>
                      </div>
                    </div>
                    {% if form.err %}
                      <p style="color: red;">{{ form.err }}</p>
                    {% endif %}
                    {% csrf_token %}
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        انتبه هذه العلامه <span style="color: red;font-size: 25px; margin-left: 0.6rem">*</span> تدل على
                        ان حقل الادخال مطلوب
                      </div>
                    </div>
                    {% for field in form %}
                      <div class="col-lg-1">
                        <span style="color: red;font-size: 25px; margin-left: 0.6rem">*</span>
                      </div>
                      {% if field.name == 'date_of_birth' %}
                        <div class="col-lg-6">
                          <div class="form-group">
                            {{ field }}
                            {% if field.help_text %}
                              <small style="color: grey;">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
                          </div>
                        </div>
                        <div class="col-lg-4" style="padding-left: 0">
                          <div class="form-group">
                            <label class="form-control input-lg text-right"
                                   style="font-weight: normal;padding: 10px;"
                                   for="id_date_of_birth">تاريخ الميلاد</label>
                          </div>
                        </div>
                      {% else %}
                        <div class="col-lg-10">
                          <div class="form-group">
                            {{ field }}
                            {% if field.help_text %}
                              <small style="color: grey;">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                    <div class="col-lg-12 ma-t">
                      <button type="submit" class="btn btn-success" style="width:100%;
                      font-size: 24px;">اشترك
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script>
    let c = document.getElementsByName('city')[0].children[0];
    c.disabled = true;
    let u = document.getElementsByName('user_category')[0].children[0];
    u.disabled = true;
  </script>
{% endblock content %}
{#----------------------------------------------------------#}


