
div.breadcrumbs {
    background: #008032;
}
body{
background: #dbfddb
}
.dashboard #content{
    /* width: 60% !important */
}
#user-tools, #user-tools a:visited, #user-tools a:link, #user-tools strong, #branding h1 a:visited {
    color: #e2e7e9;
    font-size: 15px;
    font-weight: bold;
}

#changelist-filter h2 {
    background: #008032;
}

.object-tools a:link, .object-tools a:visited, #changelist #toolbar form input[type="submit"], #changelist .actions .button {
    background-color: #008032;
    color: #e2e7e9;
}

thead th, thead th a:link, thead th a:link, thead th a:visited {
    background-color: #008032;
    color: #e2e7e9;
}

thead th:hover, thead th a:link:hover, thead th a:link:hover, thead th a:visited:hover {
    background-color: #3f7e34;
    color: #008032;
    border: 1px solid #008032;
    font-weight: bold;
}

th .sortoptions .clear {
    background-color: #008032;
    color: #e2e7e9;
}

thead th.sorted .text {
    padding-right: 0;
}

.paginator a:link, .paginator a:visited, .paginator a:focus {
    background-color: #008032;
    color: #e2e7e9;
}

.paginator a:hover {
    background-color: #e2e7e9;
    color: #008032;
}

.paginator .this-page {
    background-color: lightblue;
}

#changelist #toolbar form #searchbar {
    padding: 0;
    height: 40px;
    vertical-align: central;
}

#changelist #toolbar form input[type="submit"] {
    width: 100px;
    height: 40px;
    vertical-align: central;
}

.submit-row input, .submit-row input.default {
    background-color: #008032;
    color: #e2e7e9;
}

.module h2, fieldset.collapsed h2 ,fieldset.collapsed a:link{
    background-color: #008032;
    color: #e2e7e9;
    width: 100px;
    border-radius: 3px;
}



.submit-row input:hover, .submit-row input.default:hover {
    background-color: #e2e7e9;
    color: #008032;
    border: 2px solid #008032;
    font-weight: bold;
}

label {
    color: black;
    font-size : 22px !important;

}

div .breadcrumbs {
    background: #008032;
}
#changelist-filter li{
margin-top: 15px;
}
#changelist-filter h3{
    font-size: 20px;
}
#changelist-filter li.selected a,#changelist-filter li.selected a:hover {
    color: #008032;
    font-weight: bold;
}
#changelist-filter li a:hover {
    color: black;
    font-weight: bolder;
}

/* DASHBOARD */

#recent-actions-module{
    float: right;
}
.dashboard .module table th {
    width: 100%;
}
.dashboard caption {
    width: 100%;
    background: #539253;
}

.submit-row a.deletelink {
    display: block;
    background: #ba2121;
    border-radius: 4px;
    padding: 20px 15px;
    height: 20px;
    line-height: 0px;
    color: #fff;
}
.help, p.help, form p.help, div.help, form div.help, div.help li {
    font-size: 16px;
    color: rgb(51, 51, 51);
}
.timezonewarning {
    font-size: 17px;
    color: rgb(53, 53, 53);
}

fieldset .fieldBox {
    float: left;
    margin-right: 20px;
    width: 45%;
}

div.breadcrumbs {
    /* background: #79aec8; */
    padding: 10px 40px;
    border: none;
    font-size: 21px;
    color: #c4dce8;
    text-align: left;
}